.App {
  text-align: center;
  /* background-color: transparent; */
}
/* CSS RESET  ********************************/
html,
body,
div,
button,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
  {
  display: block;
  font-family: 'Roboto', sans-serif;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* HOME PAGE STYLING *********************************/
.parallax {
  background-image: url("mountainLedge.jpg");
  /* min-height: 720px; */
  height: 100vh;
  /* margin-top: 50px; */
  padding: 100px;
  /* background-attachment: fixed; */
  /* background-position: center; */
  background-size: cover;
  /* opacity: .9; */
  color: white;
  text-align: left;
}

.parallaxText {
  display: flex;
  font-size: 3em;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5%;
}

.homeContent {
  display: grid;
  font-size: 1.3em;
  grid-template-columns: (1, .45fr);
  align-content: center;
  margin-top: -0px;
  color: white;
}
.hometext {
  font-size: 1em;
  color: white;
}
.iconRow {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  position: absolute;
  z-index: 100;
  font-size: .3em;
}
.iconRow a {
  color: white;
  font-size: 1em;

}
.icon {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  /* z-index: 100; */

}

.iconRow a:hover {
  opacity: .2;
  /* background-color: unset; */
}
.icon:hover {
  /* width: 2vh; */
  height: 100%;
  display: inline-block;
  background-color: transparent;
}
.Nav {
  display:flex;
  justify-content: flex-end;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  padding: 10px;
  background-color: transparent;
  color: black;
  position: fixed;
  font-size: 1em;
  z-index: 100;
  width: 100%;
}
.Nav a {
  text-decoration: unset;
  color: white;
  padding: .5%;
  margin-right: 50px;
 }
 .Nav a:hover {
   color: black;
   background-color: white;
   border-radius: 10%;
   box-shadow: 0 0 21px rgba(33,33,33,.2); 
 }
 /* .bamboo {
   height: 5vh;
 } */
.overlay{
  position:absolute;
  background:rgba(0, 0, 0, .2);
  left:0; 
  right:0;
  top:0;
  bottom:0;
  z-index:1;
}

/* ABOUT PAGE STYLING *********************************/
.About {
  font-family: 'Roboto', sans-serif;
}

.NavAbout {
  display:flex;
  justify-content: flex-end;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  padding: 10px;
  background-color: white;
  border-bottom: #B98953;
  color: white;
  font-size: .7em;
  width: 100%;
}

.colorAbout {
  background-color: #d0405c;
  
}
.imageAbout{
  max-height: 100vh;
  max-width: 104.1%;
  margin-left: -15px;
}
.imageDesign{
  height: 50%;
  width: 20%;
  padding: 3%;
  margin-left: -15px;
}
.design{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100vw;
}
.logo {
  max-height: 70vh;
  max-width: 100%;
  margin-left: -15px;
}
.cardDescription {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}

.codeDescription{
 padding-left: 3%;
}

.progressbar {
  padding-bottom: 10%;
}
.progressText {
  font-weight: bold;
  color: black;
}
.slide{
  background-size: 90%;
  overflow: hidden;
  padding-right: 3%
}
.slider-wrapper {
  display: flex;
  overflow: scroll;
  flex-direction: row;
  padding-top: 25px;
  width: 100%;
  z-index: 1;
} 
.gallery {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
}
.image{
  scroll-snap-align: center;
  padding: 2%;
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 90vh;
  margin: auto;
}
.photoContainer {
  display: grid;
  height: 100%;
  
}
.bio {
  color: white;
  display: flex;
  justify-content: center;
  text-align: left;
  padding-bottom: 2%;
}
.name {
  margin-top: 20px;
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  text-align: left;
  padding-bottom: 2%;
}
.cardDescription {
  text-align: left;
}
.cardDescription1 {
  text-align: center;
  font-size: .9em;
}
.resume {
  height: 45%;
  width: 45%;
}
.cardResume {
  margin-top: 20px;
}
.slider {
  display: flex;
  justify-content: space-around;
  color: white;
}
.cardWord {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  padding: 10%;
}
.cardResume {
    font-family: 'Roboto', sans-serif;
    /* margin-top: 30%; */
}
.cardDesign {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 3em; */
  margin-top: 7%;
  padding: 10%;
}
.cardPhoto{ 
  margin-top: 1%;
  padding: 2%;
}
.buttonAbout {
  font-size: 3em;
  margin-bottom: 5%;
  background-color: transparent;
  text-decoration: none;
  padding: 1%;
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.buttonAbout:hover {
  /* background-color: white; */
  text-decoration: none;
}
.buttonBack {
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: white;
  margin-bottom: 30px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.buttonBackDesign {
  text-decoration: none;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  color: white;
  /* margin-top: 100px; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.buttonBack:hover {
  /* background-color: white; */
  text-decoration: none;

}
.self {
  margin-top: 35px;
  
}
.resume {
  text-decoration: none;
  color: white;
  font-size: 3em;
}

/* PROJECT PAGE ******************************** */

.projects {
  font-size: 1.3em;
  padding-top: 5%;
  /* background-color: rgba(231, 236, 240, 0) */
}

.projectImg{
  width: 40vw;
  height: auto;
  margin-right: -150px;
  /* position: absolute;
  z-index: 0; */
  /* #B98953 */
  /* border: 10px solid rgb(112, 188, 255); */
}
.graphicImg {
  width: 30%;
  height: auto;
}
.projectImgAged {
  width: 70%;
  height: auto;
  /* margin-right: -150px; */
}

.projectCard {
  padding-top: 10%;
  padding-bottom: 10%;
}

.projectText {
  text-align: left;
  padding-bottom: 3%;
}

#rocket {
  width:750px;
  height:450px;
  margin-left: 27%;
  background-color:transparent;
  padding:10px;
  margin-top:-5%;
  border:solid 5px #3d5d9b;
  position: absolute;
  z-index: 0;
}

#rocketText {
  width:550px;
  height:130px;
  margin-left: 20%;
  background-color:transparent;
  padding:10px;
  border:solid 3px #e1b850;
  position: absolute;
  z-index: 0;
}

#aged {
  width:450px;
  height:450px;
  margin-left: 53%;
  border-radius: 50%;
  background-color:transparent;
  padding:10px;
  margin-top: 35%;
  border:solid 5px #f7d049;
  position: absolute;
  z-index: 1000;
}

#agedText {
  width:550px;
  height:330px;
  margin-left: 10%;
  background-color:transparent;
  margin-top: 5%;

  padding:10px;
  border:solid 3px #c96e298e;
  position: absolute;
  z-index: 0;
}
.iconsRow {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin-top: 15%;
   height: 5%;
  width: 20vw;
  overflow-x: hidden;
  overflow-y: auto;
  overflow: scroll;

  display: inline-block;
  border: red 3px solid;
  /* margin-bottom: -200px; */
  /* position:absolute;
  z-index: 1000; */
/* background-color: #333e4a23; */
}
.iconBox {
 /* padding: -20%; */
 /* border: red 3px solid; */
}
.icons {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  /* padding-bottom: -100px; */
  height: 10%;
  width: 12vw;
  /* border: red 3px solid; */
}
.iconName {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
#spark {
  width:250px;
  height:450px;
  margin-left:-5%;
  background-color:transparent;
  padding:10px;
  margin-top: -21%;
  border:solid 5px teal;
  position: absolute;
  z-index: 1000;
  display: inline-block;
}

#sparkText {
  width:250px;
  height:250px;
  margin-left: -25%;
  background-color:transparent;
  border-radius: 50%;
  padding:10px;
  border:solid 3px gold;
  position: absolute;
  z-index: 0;
}

#farmers {
  width:750px;
  height:450px;
  margin-left: 27%;
  background-color:transparent;
  padding:10px;
  margin-top:18%;
  border:solid 10px pink;
  position: absolute;
  z-index: 1000;
}

#farmersText {
  width:300px;
  height:660px;
  margin-left: -30%;
  margin-top: -8%;

  background-color:transparent;
  padding:10px;
  border:solid 5px #6fc53d;
  position: absolute;
  z-index: 0;
}

#eats {
  width:450px;
  height:450px;
  margin-left: -5%;
  background-color:transparent;
  padding:10px;
  margin-top:-5%;
  border:solid 5px orange;
  position: absolute;
  z-index: 0;
}

#eatsText {
  width:750px;
  height: 100px;
  margin-left: -25%;
  margin-top: 36%;
  background-color:transparent;
  padding:10px;
  border:solid 3px orange;
  position: absolute;
  z-index: 0;
}
#inbox {
  width:780px;
  height:450px;
  margin-left: 27%;
  background-color:transparent;
  padding:10px;
  margin-top:-5%;
  border:solid 3px red;
  position: absolute;
  z-index: 1000;
}

#inboxText {
  width:600px;
  height:430px;
  margin-left: -5%;
  margin-top: 10%;
  background-color:transparent;
  padding:10px;
  border:solid 9px pink;
  position: absolute;
  z-index: 0;
}
#steven {
  width:650px;
  height:650px;
  margin-left: 0%;
  background-color:transparent; 
  border-radius: 50%;
  padding:10px;
  margin-top:-1.9%;
  border:solid 15px #174058;
  position: absolute;
  z-index: 0;
}

#stevenText {
  width:400px;
  height:400px;
  margin-left: -20%;
  margin-top:-16%;
  border-radius: 50%;
  background-color:transparent;
  padding:10px;
  border:solid 5px #ed6c74;
  position: absolute;
  z-index: 0;
}
#cart {
  width:950px;
  height:350px;
  margin-left:12%;
  background-color:transparent;
  padding:10px;
  margin-top:15%;
  border:solid 5px rgb(193, 193, 24);
  position: absolute;
  z-index: 0;
}

#cartText {
  width:430px;
  height:330px;
  margin-left: -20%;
  margin-top:-40%;
  background-color:transparent;
  padding:10px;
  border:solid 3px rgba(0, 0, 255, 0.358);
  position: absolute;
  z-index: 0;
}
#pixal {
  width:350px;
  height:350px;
  border-radius: 50%;
  margin-left: 5%;
  background-color:transparent;
  padding:10px;
  margin-top:-5%;
  border:solid 5px rgb(245, 62, 92);
  position: absolute;
  z-index: 1000;
}

#pixalText {
  width:550px;
  height:430px;
  margin-left: 10%;
  background-color:transparent;
  padding:10px;
  border:solid 2px rgb(61, 203, 160);
  position: absolute;
  z-index: 0;
}

.tr{
  width:41%;
  padding-bottom: 28.2842712474619%; /* = width / sqrt(2) */
  position:relative;
  border-bottom: 6px solid green;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  overflow:hidden;
}
.tr:before{
  content:'';
  position:absolute;
  bottom:0; left:0;
  width:100%; height:100%;
  border-top:6px solid green;
  border-left:6px solid green;
  
  -moz-box-sizing:border-box;
  box-sizing:border-box;
    
  -webkit-transform-origin:0 100%;
  -ms-transform-origin:0 100%;
  transform-origin:0 100%;
    
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.tr1{
  width:41%;
  padding-bottom: 28.2842712474619%; /* = width / sqrt(2) */
  position:relative;
  border-bottom: 6px solid green;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  overflow:hidden;
}
.tr1:before{
  content:'';
  position:absolute;
  bottom:0; left:0;
  width:100%; height:100%;
  border-top:6px solid green;
  border-left:6px solid green;
  
  -moz-box-sizing:border-box;
  box-sizing:border-box;
    
  -webkit-transform-origin:0 100%;
  -ms-transform-origin:0 100%;
  transform-origin:0 100%;
    
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .Nav {
      display:flex;
      justify-content: flex-end;
      padding: 3.6px;
      background-color: #B98953;
      color: white;
      position: fixed;
      font-size: 1em;
      z-index: 1;
    }
    .Nav a {
      text-decoration: none;
      color: white;
      /* padding: 1%; */
      margin-right: 15px;
      margin-top: 7.5px;
      margin-bottom: 7.5px;
    }
    .Nav a:hover {
      padding: 2%;
      background-color: #ebbe98;
      border-radius: 10%;
      box-shadow: 0 0 21px rgba(33,33,33,.2); 
    }
    .parallax {
      background-image: url("mountainLedge.jpg");
      min-height: 88.75739644970415vh;
      margin-top: 50px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: .9;
      color: white;
    }

    .homeContent {
      display: grid;
      font-size: 1.1em;
      grid-template-columns: (1, .45fr);
      align-content: center;
      margin-left: -10px;
      margin-right: 10px;
      position: absolute;
      z-index: 1;
      color: white;
    }
    .hometext {
      color: white;
    }
    .bambooRow{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 25px;
    }
    .bamboo {
      height: 8vh;
      margin-top: 105px;
      position: absolute;
      z-index: 1;
      margin-left: 10px;
    }
    .bamboo1 {
      height: 8vh;
      margin-top: 105px;
      position: absolute;
      z-index: 1;
      margin-left: 285px;
    }
    .slide{
      background-size: 90%;
      overflow: hidden;
      position: absolute;
      padding-right: 3%;
      /* width: 50vw; */
    }
    .slider-wrapper {
      /* display: flex;
      flex-direction: row; */
      padding-top: 25px;
      width: 100%;
      z-index: 1;
    } 
    .slider {
      /* display: flex;
      justify-content: space-around;
      color: white; */
    }
    .cardWord {
      font-family: 'Roboto', sans-serif;
      margin-top: 20px;
      padding: 10%;
    }
    .cardDesign {
      font-family: 'Roboto', sans-serif;
      padding: 1%;
    }
    .imageDesign{
      height: 80%;
      width: 40%;
      padding: 3%;
      margin-left: -15px;
    }
    .design{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      /* height: 50vh; */
      width: 100vw;
    }
    .cardResume {
      font-family: 'Roboto', sans-serif;
      margin-top: 10%;
      margin-left: -10px;
  }
    .buttonBack:hover {
      display: none;
    }
    .buttonAbout:hover {
     display: none;
    }
}














