.App {
  text-align: center;
  /* background-color: transparent; */
}
/* CSS RESET  ********************************/
html,
body,
div,
button,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
  {
  display: block;
  font-family: 'Roboto', sans-serif;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* HOME PAGE STYLING *********************************/
.parallax {
  background-image: url("bambooforest.jpg");
  min-height: 720px;
  margin-top: 50px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  opacity: .9;
  color: white;
}

.parallaxText {
  display: flex;
  font-size: 3em;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5%;
}

.homeContent {
  display: grid;
  font-size: 1.3em;
  grid-template-columns: (1, .45fr);
  align-content: center;
  margin-top: -0px;
  color: white;
}
.hometext {
  font-size: 1em;
  color: white;
}
.iconRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.iconRow a {
  color: white;
}
.icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1.5em;
}
.iconRow a:hover {
  opacity: .2;
  background-color: unset;
}
.Nav {
  display:flex;
  justify-content: flex-end;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  padding: 10px;
  background-color: #B98953;
  color: black;
  position: fixed;
  font-size: .7em;
  z-index: 100;
  width: 100%;
}
.Nav a {
  text-decoration: unset;
  color: white;
  padding: .5%;
  margin-right: 50px;
 }
 .Nav a:hover {
   color: black;
   background-color: white;
   border-radius: 10%;
   box-shadow: 0 0 21px rgba(33,33,33,.2); 
 }

 .bamboo {
   height: 5vh;
 }

.overlay{
  position:absolute;
  background:rgba(0, 0, 0, .2);
  left:0; 
  right:0;
  top:0;
  bottom:0;
  z-index:1;
}

/* ABOUT PAGE STYLING *********************************/
.About {
  font-family: 'Roboto', sans-serif;
}

.NavAbout {
  display:flex;
  justify-content: flex-end;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  padding: 10px;
  background-color: white;
  border-bottom: #B98953;
  color: white;
  font-size: .7em;
  width: 100%;
}

.colorAbout {
  background-color: #d0405c;
  
}
.imageAbout{
  max-height: 100vh;
  max-width: 104.1%;
  margin-left: -15px;
}
.imageDesign{
  height: 60%;
  width: 30%;
  padding: 3%;
  margin-left: -15px;
}
.design{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 50vw;
}
.logo {
  max-height: 70vh;
  max-width: 100%;
  margin-left: -15px;
}
.cardDescription {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}

.codeDescription{
 padding-left: 3%;
}

.progressbar {
  padding-bottom: 10%;

}
.progressText {
  font-weight: bold;
  color: black;
}
.slide{
  background-size: 90%;
  overflow: hidden;
  padding-right: 3%
}
.slider-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  width: 100%;
  z-index: 1;
} 
.bio {
  color: white;
  display: flex;
  justify-content: center;
  text-align: left;
  padding-bottom: 2%;
}
.name {
  margin-top: 20px;
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  text-align: left;
  padding-bottom: 2%;
}
.cardDescription {
  text-align: left;
}
.cardDescription1 {
  text-align: center;
  font-size: .9em;
}
.resume {
  height: 45%;
  width: 45%;
}
.cardResume {
  margin-top: 20px;
}
.slider {
  display: flex;
  justify-content: space-around;
  color: white;
}
.cardWord {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  padding: 10%;
}
.cardResume {
    font-family: 'Roboto', sans-serif;
    margin-top: 30%;
}
.cardDesign {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 3em; */
  margin-top: 7%;
  padding: 10%;
}
.cardPhoto{ 
  margin-top: 1%;
  padding: 2%;
}
.buttonAbout {
  font-size: 3em;
  margin-bottom: 5%;
  background-color: transparent;
  text-decoration: none;
  padding: 1%;
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.buttonAbout:hover {
  /* background-color: white; */
  text-decoration: none;
}
.buttonBack {
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: white;
  margin-bottom: 30px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.buttonBackDesign {
  text-decoration: none;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  color: white;
  /* margin-top: 100px; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.buttonBack:hover {
  /* background-color: white; */
  text-decoration: none;

}
.self {
  margin-top: 35px;
}
.resume {
  text-decoration: none;
  color: white;
  font-size: 3em;
}

/* PROJECT PAGE ******************************** */

.projects {
  font-size: 1.3em;
  padding-top: 5%;
}

.projectImg{
  width: 50vw;
  height: 100%;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .Nav {
      display:flex;
      justify-content: flex-end;
      padding: 3.6px;
      background-color: #B98953;
      color: white;
      position: fixed;
      font-size: 1em;
      z-index: 1;
    }
    .Nav a {
      text-decoration: none;
      color: white;
      /* padding: 1%; */
      margin-right: 15px;
      margin-top: 7.5px;
      margin-bottom: 7.5px;
    }
    .Nav a:hover {
      padding: 2%;
      background-color: #ebbe98;
      border-radius: 10%;
      box-shadow: 0 0 21px rgba(33,33,33,.2); 
    }
    .parallax {
      background-image: url("bambooforest.jpg");
      min-height: 88.75739644970415vh;
      margin-top: 50px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: .9;
      color: white;
    }

    .homeContent {
      display: grid;
      font-size: 1.1em;
      grid-template-columns: (1, .45fr);
      align-content: center;
      margin-left: -10px;
      margin-right: 10px;
      position: absolute;
      z-index: 1;
      color: white;
    }
    .hometext {
      color: white;
    }
    .bambooRow{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 25px;
    }
    .bamboo {
      height: 8vh;
      margin-top: 105px;
      position: absolute;
      z-index: 1;
      margin-left: 10px;
    }
    .bamboo1 {
      height: 8vh;
      margin-top: 105px;
      position: absolute;
      z-index: 1;
      margin-left: 285px;
    }
    .slide{
      background-size: 90%;
      overflow: hidden;
      position: absolute;
      padding-right: 3%;
      /* width: 50vw; */
    }
    .slider-wrapper {
      /* display: flex;
      flex-direction: row; */
      padding-top: 25px;
      width: 100%;
      z-index: 1;
    } 
    .slider {
      /* display: flex;
      justify-content: space-around;
      color: white; */
    }
    .cardWord {
      font-family: 'Roboto', sans-serif;
      margin-top: 20px;
      padding: 10%;
    }
    .cardDesign {
      font-family: 'Roboto', sans-serif;
      padding: 1%;
    }
    .imageDesign{
      height: 80%;
      width: 40%;
      padding: 3%;
      margin-left: -15px;
    }
    .design{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      /* height: 50vh; */
      width: 100vw;
    }
    .cardResume {
      font-family: 'Roboto', sans-serif;
      margin-top: 10%;
      margin-left: -10px;
  }
    .buttonBack:hover {
      display: none;
    }
    .buttonAbout:hover {
     display: none;
    }
}














